.top {
  //font-family: 'VT323', monospace;
  
  &::before {
    content: "";
    position: fixed;
    background: repeating-linear-gradient(
      to right,
      rgba(0,0,0,0.2),
      rgba(0,0,0,0.2) 2.5px,
      rgba(0,0,0,0) 2.5px,
      rgba(0,0,0,0) 5px
    );
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
}

.line {
  position: absolute;
  background: #52f1ff;
  width: 50%;
  padding: 5px 0;
  text-align: left;
  overflow: hidden;
  z-index: -1;
}

.line--top {
  top: 25%;
  left: 0;
}

.line--bottom {
  width: 25%;
  bottom: 5%;
  right: 0;
  
  .line__inner-text{
    animation-duration: 3.5s;
  }
}

.line__inner-text {
  font-size: 25px;
  display: inline-block;
  animation: 5s infinite linear horizontal-loop;
  span {
    font-size: 20px;
  }
}

.nav {
  width: 100%;
  position: absolute;
  bottom: 25%;
  text-align: center;
  display: flex;
  justify-content: center; 
  z-index: 2;
}

.nav__link {
  cursor: pointer;
  font-size: 40px;
  margin: 0 40px;
  padding: 10px;

  &:hover {
    color: #ffff00;
    opacity: 0.6;
  }
}

.wrapper {
  text-align: center;
  height: 100%;
  position: relative;
}

.wrapper--post {
  padding: 30px 40px;  
  background: #1d1d1d;
}

.wrapper--list {
  padding: 30px;
}

.content__title {
  text-align: center;
  font-size: 16px;
  color: #fff;
}

.content__list {
  margin: 50px auto;
  text-align: left;
  padding: 20px;
  background: #fff;
  max-width: 950px;
}

.content-list__item {
  font-size: 18px;
  font-weight: bold;
  margin: 30px 10px;
  display: flex;
  justify-content: space-between;
  
  a {
    max-width: 80%;
    line-height: 1.7;
  }

  span {
    font-size: 13px;
    margin-left: 50px;
  }

  &:hover {
    color: #ffedfb;
    background: #000;
  }
}

.content__nav{
  position: absolute;
  top: 15px;
  font-size: 20px;

  &.left {
    left: 20px;  
  }
  &.right {
    right: 20px;
  }
}

@media screen and (max-width: 600px) {
  .content__title {
    font-size: 17px;
    text-align: right;
  }

  .content__list {
    padding: 20px 10px;
  }

  .content-list__item {
    flex-wrap: wrap;
    margin: 20px 10px 10px;

    span {
      width: 100%;
      margin: 10px 5px;
    }
  }
}
